<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <main id="clip-container">
      <div class="background"></div>
      <div class="foreground">
        <div class="top">
          <h1 class="hero-text">FINAL SCORE</h1>
        </div>
        <div class="bottom">
          <div class="badge-container">
            <div class="image-container">
              <img class="badge" id="homeBadge" src="../../assets/images/placeholder.jpg" alt="" />
            </div>
            <div class="image-container">
              <img class="badge" id="awayBadge" src="../../assets/images/placeholder.jpg" alt="" />
            </div>
          </div>
          <div class="score-container"><span id="homeScore">0</span> - <span id="awayScore">0</span></div>
        </div>
      </div>
    </main>
  </body>
</html>
