<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <main id="clip-container">
      <div class="background">
        <div class="vertical-banner"><div>COMING UP</div></div>
        <div class="bg-image"><div class="image-child"></div></div>
      </div>
      <div class="foreground">
        <div class="badge-container">
          <img src="https://via.placeholder.com/128" alt="" id="homeBadge" /><img
            id="awayBadge"
            src="https://via.placeholder.com/128"
            alt="" />
        </div>
        <div class="text-banner">
          <div class="hero-container">
            <div class="name-container">
              <div class="homeName"><span id="homeName">Hanworth Villa</span><span class="vs">V</span></div>
              <div class="awayName" id="awayName">South Park Reigate</div>
            </div>
          </div>

          <p class="line" id="infoString">Saturday, March 16 | 3pm KO | Rectory Meadows</p>
        </div>
      </div>
    </main>
  </body>
</html>
